a {
    color: #DB1E82
}

.page-title-section .page-title-breadcrumbs .zozo-breadcrumbs a:hover,
.page-title-section.page-titleskin-dark .page-title-breadcrumbs .zozo-breadcrumbs a:hover,
.page-title-section.page-titleskin-dark .page-title-breadcrumbs .zozo-breadcrumbs a:focus,
.sidebar .zozo-latest-posts .posts-title a:hover {
    color: #DB1E82
}

.bg-style.bg-normal {
    background-color: #DB1E82 !important;
    fill: #DB1E82
}

.DB1E82:before {
    background: rgba(245,66,155, .8)
}

.typo-dark h1>a:hover,
.typo-dark h1>a:active,
.typo-dark h1>a:focus,
.typo-dark h2>a:hover,
.typo-dark h2>a:active,
.typo-dark h2>a:focus,
.typo-dark h3>a:hover,
.typo-dark h3>a:active,
.typo-dark h3>a:focus,
.typo-dark h4>a:hover,
.typo-dark h4>a:active,
.typo-dark h4>a:focus,
.typo-dark h5>a:hover,
.typo-dark h5>a:active,
.typo-dark h5>a:focus,
.typo-dark h6>a:hover,
.typo-dark h6>a:active,
.typo-dark h6>a:focus,
.typo-light h1>a:hover,
.typo-light h1>a:active,
.typo-light h1>a:focus,
.typo-light h2>a:hover,
.typo-light h2>a:active,
.typo-light h2>a:focus,
.typo-light h3>a:hover,
.typo-light h3>a:active,
.typo-light h3>a:focus,
.typo-light h4>a:hover,
.typo-light h4>a:active,
.typo-light h4>a:focus,
.typo-light h5>a:hover,
.typo-light h5>a:active,
.typo-light h5>a:focus,
.typo-light h6>a:hover,
.typo-light h6>a:active,
.typo-light h6>a:focus {
    color: #DB1E82
}

.pageloader .ball-clip-rotate>div {
    border-color: #DB1E82;
    border-bottom-color: transparent
}

.btn,
.btn.btn-default,
input[type="submit"],
button[type="submit"],
.vc_general.vc_btn3.vc_btn3-color-primary-bg,
.vc_btn.vc_btn-primary-bg,
.vc_general.vc_btn3.vc_btn3-color-juicy-pink,
.btn-modal.btn-primary {
    background: #DB1E82
}

.zozo-revslider-section .tp-parallax-wrap .btn-default {
    background: #DB1E82 !important
}

.vc_btn.vc_btn-primary-bg:hover,
.vc_btn.vc_btn-primary-bg:focus,
.vc_btn.vc_btn-primary-bg:active,
.vc_general.vc_btn3.vc_btn3-color-juicy-pink:hover,
.vc_general.vc_btn3.vc_btn3-color-juicy-pink:focus,
.vc_general.vc_btn3.vc_btn3-color-juicy-pink:active,
.pager li>a:hover,
.pager li>span:hover,
.pager li>a:focus,
.pager li>span:focus {
    background-color: rgba(106, 180, 62, .8);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    -webkit-0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
    -moz-0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
    -ms-0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
    -o-0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15)
}

.tagcloud a:hover,
.tagcloud a:focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    -webkit-0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
    -moz-0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
    -ms-0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
    -o-0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15)
}

.btn-transparent-black:hover,
.btn.btn-transparent-black:hover,
.btn-transparent-white:hover,
.btn.btn-transparent-white:hover,
.btn-transparent-black-inverse,
.btn.btn-transparent-black-inverse,
.btn-transparent-white-inverse,
.btn.btn-transparent-white-inverse,
.btn-transparent-color,
.btn.btn-transparent-color,
.btn-transparent-color-inverse:hover,
.btn.btn-transparent-color-inverse:hover {
    color: #DB1E82
}

.btn-transparent-color:hover,
.btn.btn-transparent-color:hover,
.btn-transparent-color-inverse,
.btn.btn-transparent-color-inverse {
    background-color: #DB1E82
}

.vc_general.vc_btn3.vc_btn3-style-outline.vc_btn3-color-primary-bg,
.vc_general.vc_btn3.vc_btn3-style-outline.vc_btn3-color-primary-bg:hover,
.btn-transparent-color,
.btn.btn-transparent-color,
.btn-transparent-color-inverse:hover,
.btn.btn-transparent-color-inverse:hover,
.btn-transparent-color:hover,
.btn.btn-transparent-color:hover,
.btn-transparent-color-inverse,
.btn.btn-transparent-color-inverse {
    border-color: #DB1E82
}

.bg-skin-dark .vc_general.vc_btn3.vc_btn3-style-outline.vc_btn3-color-primary-bg {
    color: #DB1E82
}

.parallax-background .parallax-content a.btn:hover,
.parallax-background .parallax-content a.btn:active,
.parallax-background .parallax-content a.btn:focus {
    color: #DB1E82
}

#respond .form-submit input[type="submit"],
input[type="submit"],
.wpcf7 input[type="submit"],
button[type="submit"],
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #DB1E82
}

.bg-style.dark-wrapper .vc_general.vc_cta3 .vc_cta3-actions .vc_general.vc_btn3.vc_btn3-style-transparent.vc_btn3-color-primary-bg {
    color: #DB1E82
}

.vc_btn3-color-primary-bg.vc_btn3-style-outline:hover,
.vc_btn3-color-primary-bg.vc_btn3-style-outline:focus,
.vc_btn3-color-primary-bg.vc_btn3-style-outline:active {
    background-color: #DB1E82
}

.vc_btn3-color-primary-bg.vc_btn3-style-outline {
    border-color: #DB1E82
}

.vc_btn3-color-primary-bg.vc_btn3-style-outline,
.vc_general.vc_btn3.vc_btn3-style-transparent.vc_btn3-color-primary-bg {
    color: #DB1E82
}

button.ubtn .ubtn-hover {
    background: #DB1E82
}

.ubtn.ubtn-center-dg-bg .ubtn-hover,
.ubtn.ubtn-top-bg .ubtn-hover,
.ubtn.ubtn-bottom-bg .ubtn-hover,
.ubtn.ubtn-left-bg .ubtn-hover,
.ubtn.ubtn-right-bg .ubtn-hover,
.ubtn.ubtn-center-hz-bg .ubtn-hover,
.ubtn.ubtn-center-vt-bg .ubtn-hover {
    background-color: #DB1E82
}

.bar-style-tooltip .tooltip .tooltip-inner {
    background: #DB1E82
}

.bar-style-tooltip .tooltip.top .tooltip-arrow {
    border-top-color: #DB1E82
}

.header-top-section a:hover,
.header-top-section a:focus,
.mobile-header-section a:hover,
.mobile-header-section a:focus,
.mobile-cart-wrapper a:hover,
.mobile-cart-wrapper a:focus,
.mobile-menu-wrapper a:hover,
.mobile-menu-wrapper a:focus,
.header-main-bar-sidemenu>a.active {
    color: #DB1E82
}

.cart-count {
    background: #DB1E82
}

.header-details-box .header-details-icon>I {
    background: #DB1E82
}

.header-logo-section .navbar-nav>li a:hover,
.header-logo-section .header-contact-details li>a:hover {
    color: #DB1E82
}

.header-logo-section .header-contact-details>li.header-phone:before,
.header-logo-section .header-contact-details>li.header-email:before {
    color: #DB1E82
}

.header-section .header-main-section .zozo-main-nav>li>a:hover,
.header-section .header-main-section .zozo-main-nav>li:hover>a,
.header-section .header-main-section .zozo-main-nav>li.active>a,
.header-section a:hover,
.header-section i:hover,
.header-section .zozo-main-nav li.current-menu-ancestor>a,
.header-section .zozo-main-nav li.current-menu-parent>a,
.header-section .zozo-main-nav li.current-menu-item>a,
.header-section .header-main-section .zozo-main-nav.navbar-nav .dropdown-menu>li>a:focus,
.header-section .header-main-section .zozo-main-nav.navbar-nav .dropdown-menu>li>a:hover,
.header-section .header-main-section .zozo-main-nav.navbar-nav .sub-menu>li>a:focus,
.header-section .header-main-section .zozo-main-nav.navbar-nav .sub-menu>li>a:hover,
.header-section .header-main-section .dropdown-menu>li.dropdown:hover>a,
.header-section .header-main-section .sub-menu>li.dropdown:hover>a,
.header-section .header-main-section .dropdown-menu>.active>a,
.header-section .header-main-section .dropdown-menu>.active>a:focus,
.header-section .header-main-section .dropdown-menu>.active>a:hover,
.header-section .header-main-section .menu-item.active>a,
.header-section .header-main-section .mobile-sub-menu>li>a:hover,
.header-section .header-main-section .mobile-sub-menu>li>a:active,
.header-section .header-main-section .mobile-sub-menu>li>a:focus,
.header-section .header-toggle-section .nav>li>a:focus,
.header-section .header-toggle-section .nav>li>a:hover,
.header-section .header-logo-section .header-contact-details li a:hover,
.header-section .header-toggle-section .header-contact-details li a:hover,
.header-toggle-content .btn-toggle-close,
.header-toggle-section .header-side-top-section .header-side-top-submenu.dropdown-menu li>a:hover,
.header-main-section li.header-side-wrapper>a:focus,
.header-skin-light.header-transparent .header-top-section ul>li a:hover,
.header-section.header-skin-dark .header-main-section .zozo-main-nav li.current-menu-item>a,
.header-section .zozo-main-nav .mobile-sub-menu>li>a:hover,
.header-section.header-menu-skin-dark .header-main-section a:hover,
.header-section.header-menu-skin-light .header-main-section a:hover,
.header-overlay-menu-wrapper .zozo-main-nav>li>a:hover,
.zozo-main-nav .dropdown-menu.mega-dropdown-menu li>a:hover,
.zozo-main-nav .dropdown-menu.mega-dropdown-menu li>a:focus {
    color: #DB1E82
}

.zozo-main-nav.navbar-nav .dropdown-menu,
.zozo-main-nav.navbar-nav .dropdown-menu .sub-menu,
.zozo-main-nav.navbar-nav .sub-menu,
.zozo-megamenu-wrapper,
.header-side-top-submenu.dropdown-menu {
    border-color: #DB1E82
}

.header-section .header-main-section .header-top-cart .cart-icon .cart-count,
.header-toggle-section .header-top-cart .cart-icon {
    background: #DB1E82
}

.header-section.header-skin-light .zozo-megamenu-widgets-container .widget li a:hover,
.header-section.header-skin-dark .zozo-megamenu-widgets-container .widget li a:hover {
    color: #DB1E82
}

.header-section.header-transparent .header-top-section a:hover,
.header-section.header-semi-transparent .header-top-section a:hover,
.header-section.header-transparent .header-top-section a:focus,
.header-section.header-semi-transparent .header-top-section a:focus {
    color: #DB1E82
}

.mobile-menu-wrapper .mobile-menu-nav,
.mobile-cart-wrapper .mobile-cart-link {
    background: #DB1E82
}

.header-section.type-header-9 .header-toggle-section .close-menu,
.header-toggle-section .header-side-top-section .header-side-topmenu .btn:hover {
    background: #DB1E82
}

.header-side-main-section .main-bar-item.item-cart .cart-icon {
    background: #DB1E82
}

.header-section .menu-item .new-tag {
    background: #DB1E82
}

.header-section .menu-item .new-tag:before {
    border-right-color: #DB1E82
}

.header-fullscreen-search-wrapper .fullscreen-search-inner .btn.btn-search:hover,
.header-fullscreen-search-wrapper .fullscreen-search-inner .btn.btn-search:focus {
    color: #DB1E82
}

.main-mobile-nav .zozo-main-nav li.active>.toggle-wrapper a,
.main-mobile-nav .mobile-sub-menu li.active>a,
.main-mobile-nav .zozo-main-nav li a:hover,
.main-mobile-nav .zozo-main-nav .submenu-toggle:hover,
.main-mobile-nav .current-menu-ancestor>.toggle-wrapper a,
.main-mobile-nav .current-menu-ancestor>.toggle-wrapper .zozo-megamenu-title {
    color: #DB1E82
}

.secondary_menu .widget.widget_recent_entries li a:hover,
.secondary_menu .widget.widget_recent_comments li .comment-author-link a:hover,
.secondary_menu .widget.zozo_category_posts_widget li a:hover,
.secondary_menu .widget.widget_categories li a:hover,
.secondary_menu .widget.widget_archive li a:hover,
.secondary_menu .widget.widget_meta li a:hover,
.secondary_menu .widget.widget_nav_menu li a:hover,
.secondary_menu .widget.widget_nav_menu li.current_page_item a,
.secondary_menu .widget li .tweet-user-name a:hover,
.secondary_menu .widget.zozo_popular_posts_widget .posts-title>a:hover,
.secondary_menu .zozo-tabs-widget a:hover,
.secondary_menu .widget.widget_pages li>a:hover {
    color: #DB1E82
}

.parallax-title:after {
    background-color: #DB1E82
}

.parallax-sub-title,
.typo-light .parallax-sub-title {
    color: #DB1E82
}

.grid-item a>.grid-title:hover,
.typo-light .grid-item a>.grid-title:hover {
    color: #DB1E82
}

.shortcodes-listing ul li a:hover,
.shortcodes-listing ul li a:hover {
    color: #DB1E82
}

.zozo-icon.icon-bordered.icon-shape,
.zozo-icon.icon-light.icon-shape,
.zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-none,
.zozo-feature-box.image-overlay .grid-item:hover .grid-icon-wrapper .grid-icon,
.before-footer .zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-none,
.zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-shape.icon-transparent,
.zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-shape.icon-pattern,
.zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-shape.icon-bordered,
.zozo-features-list-wrapper .features-list-inner .features-icon,
.footer-widgets .list-desc p::before {
    color: #DB1E82
}

.bg-style.bg-normal .zozo-icon.icon-bg.icon-shape,
.bg-style.bg-normal .zozo-icon.icon-border-bg.icon-shape,
.bg-style.bg-normal .zozo-icon.icon-border-bg-space.icon-shape,
.bg-style.bg-normal .zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg .zozo-icon,
.bg-style.bg-normal .zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-br .zozo-icon,
.bg-style.bg-normal .zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-br .zozo-icon {
    color: #DB1E82
}

.zozo-icon.icon-bg.icon-shape,
.zozo-icon.icon-border-bg.icon-shape,
.zozo-icon.icon-border-bg-space.icon-shape {
    background-color: #DB1E82
}

.zozo-icon.icon-border-bg-space.icon-shape:after {
    box-shadow: 0 0 0 2px #DB1E82
}

.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-color .zozo-icon.icon-light.icon-shape,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-color .grid-icon.icon-none.icon-skin-light,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-color .grid-icon.icon-none.icon-skin-dark {
    color: #DB1E82
}

.feature-box-style.style-box-with-bg .grid-item .grid-box-inner.grid-text-center:after,
.feature-box-style.style-box-with-bg .grid-item .grid-box-inner .grid-icon:after,
.grid-item .grid-box-inner .grid-overlay-top .grid-icon-wrapper .grid-icon:after,
.icon-bottom-line .grid-icon-wrapper:after {
    background-color: #DB1E82
}

.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-br .grid-icon.icon-shape.icon-bordered,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-bordered-bg {
    border-color: #DB1E82
}

.zozo-feature-box.feature-box-style.style-overlay-box .grid-box-inner,
.grid-item .grid-box-inner .grid-overlay-bottom {
    background-color: #DB1E82
}

.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape {
    color: #DB1E82
}

.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape.icon-dark,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg .zozo-icon.icon-dark.icon-shape,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape.icon-light,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape.icon-bordered,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-dark,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-light,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-bordered {
    background-color: #DB1E82
}

.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape.icon-pattern,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-pattern {
    background-color: #DB1E82
}

.top-border-style:after {
    border-color: #DB1E82
}

.vc_progress_bar .vc_single_bar .vc_bar {
    background-color: #DB1E82
}

.vc_tta .vc_tta-tab a:hover,
.vc_tta .vc_tta-tab a:active,
.vc_tta .vc_tta-tab a:focus,
.vc_tta .vc_tta-tab.vc_active a {
    background-color: #DB1E82 !important
}

.nav-tabs>li>a:hover,
.zozo-left-vertical .nav-tabs>li>a:hover,
.zozo-right-vertical .nav-tabs>li>a:hover {
    background-color: #DB1E82
}

.nav-tabs>li>a:hover,
.zozo-left-vertical .nav-tabs>li>a:hover,
.zozo-right-vertical .nav-tabs>li>a:hover,
.zozo-left-vertical .nav-tabs>li.active>a,
.zozo-right-vertical .nav-tabs>li.active>a,
.zozo-tab-horizontal .nav-tabs>li.active a,
.zozo-tab-horizontal .nav-tabs>li>a:hover,
.zozo-right-vertical .nav-tabs.tabs-right>li.active>a {
    background: #DB1E82
}

.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active>a {
    border-bottom-color: #DB1E82 !important
}

.vc_toggle .vc_toggle_icon {
    background-color: #DB1E82
}

.zozo-accordion.zozo-accordion-default .panel-title a,
.zozo-accordion.zozo-accordion-classic .panel-title a {
    color: #DB1E82
}

.vc_tta.vc_tta-accordion.vc_tta-style-flat .vc_active .vc_tta-controls-icon-position-left.vc_tta-panel-title>a {
    color: #DB1E82 !important
}

.zozo-piechart-content .circle-counter-title {
    color: #DB1E82
}

.dropcap {
    color: #DB1E82
}

.text-hightlight {
    background-color: #DB1E82
}

.zozo-vc-service-box .service-box-inner .service-ribbon-text,
.zozo-vc-service-box .service-desc {
    background-color: #DB1E82
}

.zozo-vc-service-box:hover .service-box-inner {
    box-shadow: 0 0 7px #DB1E82 inset;
    -webkit-box-shadow: 0 0 7px #DB1E82 inset;
    -moz-box-shadow: 0 0 7px #DB1E82 inset;
    -ms-box-shadow: 0 0 7px #DB1E82 inset;
    -o-box-shadow: 0 0 7px #DB1E82 inset;
    border-color: #DB1E82
}

.zozo-services-grid-wrapper .services-content-wrapper h4 a:hover {
    color: #DB1E82
}

.team-box_type .team-content .team-member-name a::after {
    background: #DB1E82
}

.team-item .team-member-name a:hover {
    color: #DB1E82
}

.team-box_type .owl-item:hover .team-item-img {
    border-color: #DB1E82
}

.team-box_type .zozo-team-social li a:hover {
    background-color: #DB1E82 !important
}

.team-content {
    border-color: #DB1E82
}

.zozo-team-slider-wrapper.team-box_type .owl-item:hover .team-overlay-style {
    background-color: rgba(106, 180, 62, .9)
}

.testimonial-item .testimonial-content blockquote:before,
.testimonial-item .testimonial-content blockquote:after {
    color: #DB1E82
}

.zozo-video-controls #video-play:hover,
.zozo-video-controls #video-play:focus {
    color: #DB1E82
}

.testimonial-item .author-details .testimonial-author-name>a:hover {
    color: #DB1E82
}

.testimonial-item.tstyle-border2 {
    border-color: #DB1E82
}

.testimonial-item.tstyle-border2 .author-details .testimonial-author-name>a {
    color: #DB1E82
}

.gosolar-campaigns .campaign-loop .campaign-content-wrap h3:hover {
    color: #DB1E82
}

.gosolar-campaigns .campaign-content-wrap .campaign-progress-bar .bar {
    background-color: #DB1E82
}

.gosolar-campaigns .campaign-loop .campaign-content-wrap .campaign-donation a.donate-button {
    border-color: #DB1E82 !important;
    color: #DB1E82 !important
}

.gosolar-campaigns .campaign-loop .campaign-content-wrap .campaign-donation a.donate-button:hover {
    background: #DB1E82
}

.campaign .campaign-single-summary span.amount {
    color: #DB1E82
}

.campaign .campaign-single-summary .campaign-progress-bar .bar {
    background-color: #DB1E82
}

.campaign .campaign-single-summary .campaign-donation a.donate-button {
    background: #DB1E82
}

.charitable-donation-form .donation-amount.selected {
    background-color: #DB1E82 !important;
    border-color: #DB1E82 !important
}

.campaign .charitable-form-errors.charitable-notice {
    border-color: #DB1E82
}

.campaign .charitable-form-errors.charitable-notice li a {
    color: #DB1E82
}

.zozo-twitter-slider-wrapper:before {
    background: #DB1E82
}

.owl-carousel.owl-theme .owl-controls .owl-nav div {
    background-color: #DB1E82
}

.owl-carousel.owl-theme .owl-controls .owl-dots .owl-dot.active span {
    background: #DB1E82
}

.vc_btn3.vc_btn3-style-custom {
    background: #DB1E82 !important
}

.vc_btn3.vc_btn3-style-custom:hover {
    background-color: rgba(106, 180, 62, .8) !important
}

.vc_icon_element-background-color-primary-bg {
    background: #DB1E82
}

.vc_row .vc_images_carousel .vc_carousel-indicators .vc_active {
    border-color: #DB1E82;
    background: none
}

.vc_row .vc_images_carousel .vc_carousel-indicators li {
    background-color: #DB1E82;
    border-color: #DB1E82
}

.featured-item .zozo-pricing-item .pricing-box .pricing-head,
.featured-item .zozo-pricing-item .pricing-cost-wrapper,
.featured-item .zozo-pricing-item .pricing-box .pricing-features.clearfix {
    background: #DB1E82
}

.zozo-pricing-item .pricing-cost-wrapper .pricing-cost h3 {
    color: #DB1E82
}

.zozo-pricing-item.active .pricing-head:after {
    background-color: #DB1E82
}

.zozo-pricing-table-wrapper .pricing-bottom .btn.btn-default:hover {
    border-color: #DB1E82
}

.zozo-pricing-table-wrapper.featured-item {
    border-color: #DB1E82
}

.featured-item .zozo-pricing-item .pricing-cost-wrapper .pricing-cost {
    background-color: #DB1E82
}

.featured-item.price-style-one .pricing-head .pricing-cost-wrapper {
    background-color: #DB1E82
}

.featured-item.price-style-one .zozo-pricing-item .pricing-bottom .btn.btn-default {
    background-color: #DB1E82
}

.zozo-pricing-table-wrapper.price-style-one .zozo-pricing-item .pricing-bottom .btn.btn-default:hover {
    background-color: #DB1E82
}

.zozo-pricing-table-wrapper.price-style-one .zozo-pricing-item .pricing-ribbon-wrapper .pricing-ribbon {
    background: #DB1E82
}

.featured-item.price-style-two .zozo-pricing-item .pricing-box .pricing-head .pricing-cost-wrapper {
    background: #DB1E82
}

.featured-item.price-style-two .zozo-pricing-item .pricing-bottom .btn.btn-default {
    background-color: #DB1E82
}

.zozo-pricing-table-wrapper.price-style-two .zozo-pricing-item .pricing-bottom .btn.btn-default:hover {
    background-color: #DB1E82
}

.zozo-pricing-table-wrapper.price-style-two .zozo-pricing-item .pricing-ribbon-wrapper .pricing-ribbon {
    background: #DB1E82
}

.portfolio-tabs.arrow-style-filter .smart-sub-menu.portfolio-sub-filter li a:hover,
.portfolio-tabs.arrow-style-filter .smart-sub-menu.portfolio-sub-filter li a.active {
    background: #DB1E82
}

.portfolio-tabs.transparent-filter .smart-sub-menu.portfolio-sub-filter li a:hover,
.portfolio-tabs.transparent-filter .smart-sub-menu.portfolio-sub-filter li a.active {
    color: #DB1E82
}

.portfolio-tabs.default-filter .smart-sub-menu.portfolio-sub-filter>li>a:after {
    background: #DB1E82
}

.portfolio-cat>a:hover,
.portfolio-cat>a:focus {
    color: #DB1E82
}

.portfolio-overlay {
    background-color: rgba(106, 180, 62, .8)
}

.style-classic .portfolio-inner-wrapper a:hover {
    color: #DB1E82
}

.portfolio-item .overlay-content .portfolio-title a,
.portfolio-tabs.icon_type li a.active,
.portfolio-tabs.icon_type li a i {
    color: #DB1E82
}

.style-list_style .portfolio-title a:hover,
.style-style_one .overlay-full .portfolio-title a:hover,
.style-style_one .overlay-full .portfolio-cat a:hover {
    color: #DB1E82
}

.portfolio-tabs.icon_type::after {
    background-color: #DB1E82
}

.portfolio-content a.classic-img-link:hover:before {
    border-color: #DB1E82;
    color: #DB1E82
}

.portfolio-single .portfolio-info-title::before,
.portfolio-single .portfolio-desc-title::before {
    background-color: #DB1E82
}

.portfolio-carousel-slider .owl-prev.style-light,
.portfolio-carousel-slider .owl-next.style-light,
.blog-carousel-slider .owl-prev.style-light,
.blog-carousel-slider .owl-next.style-light {
    background: #DB1E82
}

.style-style_two .portfolio-title a:hover,
.style-style_two .portfolio-title a:focus,
.style-style_two .portfolio-cat>a:hover,
.style-style_two .portfolio-cat>a:focus {
    color: #DB1E82
}

.pagination>li>span.current,
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    background-color: #DB1E82
}

.pagination>li>a.prev:hover:after,
.pagination>li>a.prev:active:after,
.pagination>li>a.prev:focus:after,
.pagination>li>a.next:hover:after,
.pagination>li>a.next:active:after,
.pagination>li>a.next:focus:after {
    background-color: #DB1E82;
    border-color: #DB1E82
}

.pager li>a,
.pager li>span {
    border-color: #DB1E82;
    background-color: #DB1E82
}

.zozo-social-share-icons li a {
    background-color: transparent;
    border-color: #DB1E82
}

.zozo-social-share-icons li.email a:hover {
    background-color: #DB1E82 !important
}

.zozo-social-icons.soc-icon-transparent li.email a:hover,
.zozo-social-icons.soc-icon-transparent li.email a:hover i {
    color: #DB1E82
}

.zozo-social-icons li.email a:hover {
    background-color: #DB1E82
}

.portfolio-single .zozo-social-share-box .zozo-social-share-icons li a,
.portfolio-single .zozo-social-share-box .zozo-social-icons.soc-icon-transparent li a,
.portfolio-single .zozo-social-share-box .zozo-social-icons.soc-icon-transparent li a i {
    background-color: #DB1E82;
    border: 1px solid #DB1E82;
    color: #fff
}

.stats-block .aio-icon i {
    color: #DB1E82
}

.latest-posts-layout .entry-meta .read-more>a:after,
.latest-posts-slider .entry-meta-wrapper a {
    color: #DB1E82
}

.large-posts h2.entry-title a:hover,
.large-posts h2.entry-title a:focus {
    color: #DB1E82
}

.entry-meta a:hover,
.entry-meta a:active,
.entry-meta a:focus {
    color: #DB1E82
}

.post .btn-more.read-more-link:hover,
.post .btn-more.read-more-link:active,
.post .btn-more.read-more-link:focus {
    color: #DB1E82
}

.latest-posts-slider .posts-content-container .btn-more.read-more-link:hover {
    color: #DB1E82
}

.grid-layout .comments-link>a:hover {
    color: #DB1E82
}

.post-tags>a:hover,
.post-tags>a:active,
.post-tags>a:focus {
    color: #DB1E82
}

.comment-form .zozo-input-group-addon .input-group-addon {
    color: #DB1E82
}

.comment-container span i,
.comment-container a i {
    color: #DB1E82
}

#respond.comment-respond .form-submit input[type="submit"] {
    border-color: #DB1E82;
    background-color: #DB1E82
}

.entry-title a:hover,
.related-content-wrapper h5 .post-link:hover {
    color: #DB1E82
}

.latest-posts-list-style .posts-content-container h2>a:hover {
    color: #DB1E82
}

.tagcloud a {
    background-color: #DB1E82
}

.latest-posts-menu .entry-date i {
    color: #DB1E82
}

.zozo-tabs-widget .tabs .zozo-tab-content a:hover {
    color: #DB1E82
}

.footer-widgets .widget a:hover {
    color: #DB1E82
}

.sidebar .widget_nav_menu ul li a:hover,
.sidebar .widget_nav_menu ul li.current-menu-item a,
.sidebar .widget_nav_menu ul li.current-menu-item a:hover {
    background-color: #DB1E82
}

.featured-caption .featured-caption-inner .featured-post-title a:hover {
    color: #DB1E82
}

.woocommerce .price_slider_amount .button,
.woocommerce-Reviews p.form-submit input.submit,
.woocommerce-page a.button {
    background-color: #DB1E82
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background-color: #DB1E82
}

form.cart button.single_add_to_cart_button {
    background-color: #DB1E82
}

.woocommerce .woocommerce-cart-content-box input.button {
    background-color: #DB1E82
}

.woo-cart-collaterals-wrapper .cart_totals .wc-proceed-to-checkout a.checkout-button {
    background-color: #DB1E82
}

.woocommerce .form-row.place-order input#place_order {
    background-color: #DB1E82
}

.woocommerce .price .woocommerce-Price-amount,
.zozo-woocommerce-wrapper .price span.woocommerce-Price-amount,
.woocommerce .woocommerce-message:before,
.woocommerce .woocommerce-info::before {
    color: #DB1E82
}

.zozo-woocommerce-wrapper .product-category-title a:hover,
.zozo-woocommerce-wrapper .product-title a:hover,
.woocommerce .product-category-title a:hover,
.woocommerce .product-title a:hover {
    color: #DB1E82 !important
}

.zozo-woocommerce-wrapper .product form.cart button,
.woocommerce .woocommerce-message .button,
.zozo-woocommerce-wrapper ul.products li.product.type-product .product-buttons a.add_to_cart_button,
.woocommerce ul.products li.product.type-product .product-buttons a.add_to_cart_button,
.woocommerce #review_form input#submit {
    background-color: #DB1E82
}

.woocommerce .woocommerce-message,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-info::before {
    border-top-color: #DB1E82
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #DB1E82
}

.woocommerce li .product-info .add_to_cart_button:hover {
    color: #DB1E82
}

.woocommerce ul.products li .product-buttons a {
    background: #DB1E82
}

.zozo-client-grid img:hover {
    border-color: #DB1E82
}

.time-table .table>thead {
    background-color: #DB1E82
}

.zozo-input-group-addon .input-group-addon {
    color: #DB1E82
}

.contact-info-inner h4.contact-widget-title {
    color: #DB1E82
}

.contact-info-inner h5 a {
    color: #DB1E82
}

.zozo-social-icons.social-style-background li a,
.contact-info-style2 h6 {
    background: #DB1E82
}

div#footer-top-area {
    background: #DB1E82
}

.footer-widgets-section .flickr_photo_item a:after {
    background: #DB1E82
}

.footer-backtotop a:hover,
.footer-backtotop a:focus,
.footer-backtotop a:active {
    background: #DB1E82
}

.footer-section.footer-skin-dark .widget.widget_recent_entries li a:hover,
.footer-section.footer-skin-dark .widget.widget_recent_comments li .comment-author-link a:hover,
.footer-section.footer-skin-dark .widget.zozo_category_posts_widget li a:hover,
.footer-section.footer-skin-dark .widget.widget_categories li a:hover,
.footer-section.footer-skin-dark .widget.widget_archive li a:hover,
.footer-section.footer-skin-dark .widget.widget_meta li a:hover,
.footer-section.footer-skin-dark .widget.widget_nav_menu li a:hover,
.footer-section.footer-skin-dark .widget.widget_nav_menu li.current_page_item a,
.footer-section.footer-skin-dark .widget li .tweet-user-name a:hover,
.footer-section.footer-skin-dark .widget.zozo_popular_posts_widget .posts-title>a:hover,
.footer-section.footer-skin-dark .zozo-tabs-widget a:hover,
.footer-section.footer-skin-dark .widget.widget_pages li>a:hover {
    color: #DB1E82
}

.zozo-features-list-wrapper .features-list-inner .features-icon i {
    color: #DB1E82
}

.video-bg .mb_YTVTime {
    background: #DB1E82
}

.zozo-vc-modal-overlay-close {
    background: #DB1E82
}

.widget.widget_recent_entries li a:hover,
.widget.widget_recent_comments li a:hover,
.widget.zozo_category_posts_widget li a:hover,
.widget.widget_categories li a:hover,
.widget.widget_archive li a:hover,
.widget.widget_meta li a:hover,
.widget.widget_nav_menu li a:hover,
.widget.widget_edd_categories_tags_widget li a:hover,
.widget.widget_pages li>a:hover {
    color: #DB1E82
}

.widget .tweet-item h5:before {
    background: #DB1E82
}

.footer-copyright-section .zozo-social-icons.soc-icon-transparent i:hover {
    color: #DB1E82
}

.secondary_menu .widget_nav_menu ul li.menu-item>a:hover,
.secondary_menu .widget_nav_menu ul li.menu-item>a:active,
.secondary_menu .widget_nav_menu ul li.menu-item>a:focus {
    color: #DB1E82
}

.zozo-timeline-wrapper .timeline-align-right:before,
.zozo-timeline-wrapper .timeline-align-left:after,
.zozo-timeline-item.timeline-style-1 .zozo-time-separator-text .timeline-sep-text {
    background: #DB1E82
}

.zozo-timeline-item.timeline-style-1 .timeline-content-wrapper,
.zozo-timeline-item.timeline-style-1 .zozo-time-separator-text .timeline-sep-text {
    border-color: #DB1E82
}

#zozo-backtotop {
    background: #DB1E82
}

::-moz-selection {
    background: #DB1E82;
    color: #fff
}

::selection {
    background: #DB1E82;
    color: #fff
}

::-webkit-selection {
    background: #DB1E82;
    color: #fff
}

.zozo-revslider-section span {
    color: #DB1E82
}

.typo-light .text-color,
.typo-dark .text-color,
.text-color {
    color: #DB1E82
}

.zozo-revslider-section .tp-parallax-wrap .text-color {
    color: #DB1E82 !important
}

.theme-bg-color {
    background: #DB1E82
}

.zozo-revslider-section .tp-bullets.simplebullets.round .bullet {
    border-color: #DB1E82
}

.zozo-revslider-section .tp-bullets.simplebullets.round .bullet.selected {
    background: #DB1E82
}

.zozo-revslider-section .tp-button {
    border-color: #DB1E82;
    background: #DB1E82
}

.zozo-revslider-section .tp-button:hover {
    color: #DB1E82
}

.zozo-revslider-section .tp-bannertimer {
    background: #DB1E82
}

article.post .post-inner-wrapper .post-featured-image a:before,
.related-post-item .entry-thumbnail .post-img:before {
    background-color: #DB1E82
}

.comment-container a:hover {
    color: #DB1E82
}

.zozo-social-share-box .author-social li a,
.zozo-social-share-box .author-social li a:hover,
.zozo-social-share-box .author-social li a:focus,
.zozo-social-share-box .author-social li a.active {
    background-color: #DB1E82
}

.author-name a:hover {
    color: #DB1E82
}

.vc_custom_heading.vc_gitem-post-data.vc_gitem-post-data-source-post_date>div {
    color: #DB1E82
}

.hexagon li.icon_list_item .icon_list_icon {
    background: #DB1E82;
    border-color: #DB1E82
}

.sitemap-wrapper ul li a:hover,
.sitemap-wrapper ul li a:active,
.sitemap-wrapper ul li a:focus {
    color: #DB1E82
}

.menu-service-menu-container li a:hover,
.menu-service-menu-container li a:focus,
.menu-service-menu-container li a.active {
    background: #DB1E82
}

a {
    color: #DB1E82
}

body {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: ;
    line-height: 28px
}

.ui-widget,
.vc_tta-accordion .vc_tta-panel-title {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: ;
    line-height: 28px
}

.header-section .header-top-section {
    background-color: #DB1E82
}

@media only screen and (min-width:768px) {

    .header-section.type-header-7 .navbar-header,
    .header-section.type-header-8 .navbar-header {
        max-width: 225px
    }

    .header-section.type-header-7 .is-sticky .navbar-header,
    .header-section.type-header-8 .is-sticky .navbar-header {
        max-width: 225px
    }
}

.fullwidth .container {
    max-width: 1200px
}

.boxed .is-sticky .header-main-section {
    max-width: 1200px
}

.dropdown-menu {
    min-width: 220px
}

h1 {
    font-family: Manjari;
    font-size: 45px;
    font-weight: 700;
    line-height: 42px
}

h2,
.vc_cta3-actions .vc_general.vc_btn3.vc_btn3-style-transparent {
    font-family: Manjari;
    font-size: 29px;
    font-weight: 700;
    line-height: 35px
}

h3,
.stats-number,
.comment-reply-title {
    font-family: Manjari;
    font-size: 22px;
    font-weight: 700;
    line-height: 29px
}

h4,
legend {
    font-family: Manjari;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px
}

h5,
.stats-text,
.smile-icon-timeline-wrap .timeline-separator-text .sep-text {
    font-family: Manjari;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px
}

h6,
#bbpress-forums #bbp-single-user-details #bbp-user-navigation a,
.sp-scrollable-table-wrapper thead tr th,
.rtb-booking-form fieldset legend,
button.ubtn,
.portfolio-tabs.icon_type li a {
    font-family: Manjari;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px
}

.header-section .header-top-section a {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px
}

.zozo-main-nav>li>a,
.zmm-wrapper .main-menu-container .navbar-nav li>a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400
}

.zozo-main-nav .dropdown-menu>li a,
.zozo-main-nav .dropdown-menu .sub-menu a,
.zozo-main-nav .mega-child-ul li>a,
.zozo-main-nav .mega-dropdown .menu-item>a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px
}

.zozo-main-nav.navbar-nav .dropdown-menu,
.zozo-main-nav.navbar-nav .dropdown-menu .sub-menu,
.zozo-main-nav.navbar-nav .sub-menu,
.zozo-megamenu-wrapper,
.header-side-top-submenu.dropdown-menu {
    background-color: #FFFFFF !important;
    border-top-width: 3px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid
}

.entry-title,
.page-title-section .page-title-captions h1.entry-title {
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 300;
    line-height: 35px
}

.post h2.entry-title,
.category-title {
    font-family: Open Sans;
    font-size: 25px;
    line-height: 24px
}

.widget h3 {
    font-family: Open Sans;
    font-size: 17px;
    line-height: 20px
}

.widget div,
.widget p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px
}

.footer-widgets .widget h3 {
    font-family: Open Sans;
    font-size: 17px;
    line-height: 20px
}

.footer-widgets .widget div,
.footer-widgets .widget p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px
}

.navbar-header .navbar-brand img,
.navbar-brand img {
    max-height: 100px
}

.header-section .header-main-section {
    height: 80px
}

.header-section .header-main-section .navbar-header .navbar-brand,
.header-section .header-main-section .zozo-main-nav>li,
.header-section .header-main-section .zozo-main-nav>li>a,
.header-section .header-main-section .main-bar-item,
.header-section .header-main-section .toggle-bar-item,
.header-section .header-main-section .header-toggle-content,
.type-header-9 .navbar-nav.zozo-main-bar>li,
.type-header-9 .navbar-nav.zozo-main-bar>li a {
    line-height: 80px;
    height: 80px
}

.header-section.type-header-3 .header-main-section {
    height: 160px
}

.header-section.type-header-3 .header-main-section .header-toggle-content {
    height: 79px;
    line-height: 79px
}

.header-section .is-sticky .header-main-section,
.header-section.type-header-3 .is-sticky .header-main-section {
    height: 60px
}

.header-section .is-sticky .header-main-section .navbar-header .navbar-brand,
.header-section .is-sticky .header-main-section .zozo-main-nav>li,
.header-section .is-sticky .header-main-section .zozo-main-nav>li>a,
.header-section .is-sticky .header-main-section .main-bar-item,
.header-section .is-sticky .header-main-section .toggle-bar-item,
.header-section .is-sticky .header-main-section .header-toggle-content,
.type-header-9 .is-sticky .navbar-nav.zozo-main-bar>li,
.type-header-9 .is-sticky .navbar-nav.zozo-main-bar>li a {
    line-height: 60px;
    height: 60px
}

.header-section .header-logo-section li,
.header-section .header-logo-section .navbar-header .navbar-brand,
.header-section .header-logo-section .logo-bar-item,
.header-section .header-logo-section .logo-bar-item .zozo-main-nav li>a,
.header-section.type-header-6 .header-logo-section li.header-top-cart,
.type-header-6 .header-logo-section .zozo-logo-bar {
    line-height: 76px;
    height: 76px
}

.header-section.header-fullwidth-menu .header-main-section {
    height: 60px
}

.header-section.header-fullwidth-menu .header-main-section .navbar-header .navbar-brand,
.header-section.header-fullwidth-menu .header-main-section .zozo-main-nav>li,
.header-section.header-fullwidth-menu .header-main-section .zozo-main-nav>li>a,
.header-section.header-fullwidth-menu .header-main-section .main-bar-item {
    line-height: 60px;
    height: 60px
}

.header-section.header-fullwidth-menu .header-main-section .header-toggle-content {
    height: 59px;
    line-height: 59px
}

.header-section.header-fullwidth-menu .is-sticky .header-main-section {
    height: 60px
}

.header-section.header-fullwidth-menu .is-sticky .header-main-section .navbar-header .navbar-brand,
.header-section.header-fullwidth-menu .is-sticky .header-main-section .zozo-main-nav>li,
.header-section.header-fullwidth-menu .is-sticky .header-main-section .zozo-main-nav>li>a,
.header-section.header-fullwidth-menu .is-sticky .header-main-section .main-bar-item {
    line-height: 60px;
    height: 60px
}

.wp-block-file .wp-block-file__button,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background) {
    background-color: #DB1E82
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
    color: #DB1E82
}

body:not(.single-post) .wp-block-button__link:not(.has-background) {
    background-color: #DB1E82
}

.page-links .post-page-numbers:hover,
.page-links .post-page-numbers:active,
.page-links .post-page-numbers:focus,
.page-links .post-page-numbers.current {
    background-color: #DB1E82
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    background-color: #DB1E82
}

.wp-block-quote:not(.is-large):not(.is-style-large),
.wp-block-freeform blockquote,
.wp-block-quote[style*="text-align:right"],
.wp-block-quote[style*="text-align: right"] {
    border-color: #DB1E82
}